*{
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: rgb(87, 87, 197);
}
#contenedor{
    background-color: rgb(17, 24, 90);
    border-radius: 30px;
}
.boton{
    background-color: rgb(255, 225, 186);
}
.card{
    background-color: rgb(106, 179, 243);
    box-shadow: 0 4px 8px 0 white;
    overflow: hidden;
    max-width: 600px;
    margin: auto;
    text-align: center;
    border: 2px solid;
    border-radius: 25px;
}
input{
    padding: 10px;
    border: 1px solid ;
    border-radius: 5px;
    font-size: 14px;
}
.container{
    max-width: 1110px;
    margin: 0 auto;
}
.fondo{
     padding: 32px 0;
     background-color: rgb(47, 56, 131);
}
.fondo{
    padding: 47px 0;
}
.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: start;
    justify-content: left;
    z-index: 1000;
}
.logo{
    font-size: 30px;
    color: aquamarine;
    font-weight: 800;
    text-transform: uppercase;
}

.menu .navbar ul li{
   position: relative;
   float: left;
}
.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: azure;
    display: block;
}
.menu .navbar ul li a:hover{
    color: antiquewhite;
}
#menu{
    display: none;
}
.menu-icono{
    width: 25px;

}
.menu label{
    cursor: pointer;
    display: none;
}
#menu:checked ~ .navbar{
    display: initial;
}
@media (max-width:991px) {
    .menu{
        padding: 30px;
    }
    .menu label{
        display: initial;
    }
  
    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0%;
        right: 0%;
        background-color: #2A39AF;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }
    #menu:checked ~ .navbar{
        display: initial;
    }
}
