*{box-sizing: border-box;}

.contenedorflex
{
   display: flex;
   width: 500px;
   flex-direction: row;
   background-color: blueviolet;
   padding: 10px;
   border: 2px solid black;}


.contenedorflexj
{display: flex;
    width: 800px;
   flex-direction: row;
   justify-content: center;
   background-color: rgb(226, 43, 226);
   padding: 10px;
   border: 2px solid black;}


.contenedorflexc
{display: flex;
       width: 800px;
      flex-direction: row;
      justify-content: end;
      background-color: rgb(43, 159, 226);
      padding: 10px;
      border: 2px solid black;}  
      
      
.contenedorflexs
{display: flex;
     width: 800px;
    flex-direction: row;
     justify-content: space-around;
    background-color: rgb(226, 43, 43);
    padding: 10px;
    border: 2px solid black;}   
    
.contenedorflexb
{display: flex;
    width: 1000px;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(141, 226, 43);
    padding: 10px;
    border: 2px solid black;}
    
.contenedorflext
{display: flex;
    width: 1000px;
    width: 900;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(141, 226, 43);
    padding: 10px;
    border: 2px solid black;} 
    
    
.contenedorflexe
{display: flex;
    width: 800x;
    height: 900;
    align-items: flex-end;
    justify-content: space-around;
    background-color: rgb(226, 223, 43);
    padding: 10px;
    border: 2px solid black;} 
    
    
.contenedorflexch
{display: flex;
    width: 800px;
    height: 900px;
    align-items: stretch;
    justify-content: space-around;
    background-color: rgb(226, 43, 113);
    padding: 10px;
    border: 2px solid black;}
    
.contenedorflexu
{display: flex;
        width: 1000px;
        height: 200px;
        justify-content: space-around;
       
        justify-content: center;
        background-color: rgb(43, 226, 180);
        padding: 10px;
        border: 2px solid black;}   
        
        
.item:hover{
    background-color: rgb(0, 0, 0);
} 
                
        

.item
{background-color: aqua;
    width: 100px;
    margin: 10px;
    border: 2px solid;
    text-align: center;
    line-height: 25px;
    font-size: 25px;}  