*{
    margin: 0;
    padding: 0;
}
.titulo{
    font-size: 40px;
    text-align: center;
}
.subtitulo{
    margin: 10px;
    text-align: center;
}
.img{
    display: block;
    width: 90px;
    margin: 0 auto;
    margin-top: 30px;
}
.contenedor{
    border: 2 px solid;
    margin: 10px;
    padding: 10px;
    background-color: aliceblue;
}
@media screen and (max-width: 1200px) {
    body{
        background-color: black;
        color: blueviolet;
    }
    .titulo{
        font-size: 30px;
    }
    .subtitulo{
        font-size: 15px;
    }
    .img{
        width: 70%;
    }
    
}

@media screen and (max-width:900px) {
    body{
        background-color: bisque;
        color: brown;
    }
    .titulo{
        font-size: 25px;
    }
    .subtitulo{
        font-size: 15px;
    }
    .img{
        width: 70%;
    }


    
}

@media screen and (max-width:600px) {
    body{
        background-color: rgb(66, 224, 17);
        color: rgb(175, 1, 1);
    }
    .titulo{
        font-size: 25px;
    }
    .subtitulo{
        font-size: 15px;
    }
    .img{
        width: 70%;
    }


    
}
@media screen and (max-width:400px) {
    body{
        background-color: rgb(243, 4, 4);
        color: rgb(251, 255, 0);
    }
    .titulo{
        font-size: 25px;
    }
    .subtitulo{
        font-size: 15px;
    }
    .img{
        width: 70%;
    }


    
}